username: ~
webhook_url: ~
template_path: ~
events:
    create:
        pages:
            channels: ['#general']
            template: ~
    update:
        pages:
            channels: ['#general']
            template: ~
    delete:
        pages:
            channels: ['#general']
            template: ~