emoji: ~
template_path: ~
username: ~
webhook_url: ~
events:
    create:
        pages:
            channels: ['#general']
            emoji: ~
            template: ~
    update:
        pages:
            channels: ['#general']
            emoji: ~
            template: ~
    delete:
        pages:
            channels: ['#general']
            emoji: ~
            template: ~